h2 {
  font-size: min(3.2vw,18px);
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  color: #333333;
}
.details_list{
  list-style-type: none;
  font-size: min(2.8vw,14px);
  color: #333333;
  padding-left: 1rem;
}
.details_list li{
  line-height: 1.8;
}