.login_form div{
  margin-bottom: 1rem;
  
}
/*
.login_form div:last-child{
  text-align: center;
}
*/
.login_form div label{
  font-size: 140%;
}
.login_form div input{
  font-size: 140%;
  display: block;
  margin-top: 0.25rem;
}
.login_form div button{
  border: none;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  background-color: #1976D2;
  color:white;
  border-radius: 0.5rem;
  font-size: 12px;
  box-shadow: 2px 2px 4px #ddd;
}

.signup_link{
  margin-top: 1rem;
}