body{
  overflow-y: hidden;
  overflow: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none;    /* Firefox 対応 */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari 対応 */
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4fbfe;
}
main {
  padding: 0.8rem 1.2rem;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
h2 {
  font-size: min(3.2vw,18px);
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  color: #333333;
}